@model Casgem_Portfolio.Models.Entities.tbl_referance
@{
    ViewBag.Title = "UpdateReference";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Referans Güncelleme Sayfası</h2>


<form action="/Reference/UpdateReference/@Model.ReferanceID" method="post">
    @Html.HiddenFor(x => x.ReferanceID)
    <label>Referans Adı Soyadı: </label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label>Epostası: </label>
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    <br />
    <label>Mesleği: </label>
    @Html.TextBoxFor(x => x.JOB, new { @class = "form-control" })
    <br />
    <label>Telefon Numarası</label>
    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Verileri Güncelle</button>
</form>