
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
@Html.Partial("PartialHead")
<body>
    @Html.Action("HeaderPartial")
    @Html.Action("FeaturePartial")
    @Html.Action("WhoamiPartial")
    @*@Html.Action("MyResume")*@
    @Html.Action("ServicesPartial")
    @Html.Action("StatisticPartial")
    @Html.Action("TestMonialPartial")
    @Html.Action("VideoPartial")
    @Html.Action("FreelancePartial")
    @Html.Action("FooterScript")
    @Html.Action("ScriptPartial")
</body>
</html>
